/*---------------анимация----------------------*/
@keyframes vilet_right{
	0% {transform:translatex(2000px)}
	100% {transform:translatex(0px)}
}

@keyframes vilet_left{
	0% {transform:translatex(-1000px)}
	100% {transform:translatex(0px)}
}

@keyframes vilet_bottom{
	0% {transform:translate(1000px, 2000px)}
	100% {transform:translatex(0px)}
}
/*-----------------------------------------------*/
.desktop_body{
	margin-bottom: 0px;
}

.info_block{
	width:590px;
	display:flex;
	flex-flow:column nowrap;
}

.info_block>div{
	width:600px;
}

.desktop_body>div{
	width:600px;
}

.info_block>div:first-child>div{
	animation:vilet_right 1s ease-out;
}

.info_block>div:last-child>div{
	animation:vilet_bottom 1s ease-out;
}

.desktop_body>div>div{
	animation:vilet_left 1s ease-out;
}

body{
	min-height:100%;
	display:flex;
	flex-flow:column nowrap;
}

.zaglushka{
	flex:1;
}

.desktop_body_block span{
	text-shadow:0 0 2px #0b6ef0, 0 0 4px #0b6ef0, 0 0 6px #0b6ef0;
}

#anna{
	border-radius: 25px;
}

/*---адаптив медиазапросы---*/

@media (max-width:640px){
	.main_menu{
		display:flex; //появляется меню в столбик для смартфонов
	}
	.main_menu_table{
		display:none; //исчезает меню для больших экранов
	}
	.desktop_body{
		display:none; //исчезает боди для больших экранов
	}
	.container{
		margin:45px auto 0;
	}
	.smart_body{
		display:flex; //появляется боди для смартфонов
	}
}
/*---------------------------------------------------------*/