:root{
--lightblue:radial-gradient(at top right, #0588ff, #8be5f7);
}
/*----------------animation------------------------*/
@keyframes flicker{
	0%{

	}
	50%{
	text-shadow:0 0 7px #7cacfc,
		    0 0 10px #7cacfc,
		    0 0 21px #7cacfc,
		    0 0 42px #7cacfc,
		    0 0 82px #7cacfc
	}
	100%{

	}
}
/*---------------------------------------------------*/


/*-----------------------Основной экран для больших экранов---------------*/
.container{
	display:flex;
	max-width:1200px;
	flex-flow:column nowrap;
	margin:0 auto 10px;
}

.banner{
	width:100%;
	height:254px;
	background:url(../img/banner.jpeg) no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom: 10px;
	border-radius: 25px;
	box-shadow: 0 0 5px 1px grey;
}

h1{
	color:white;
	font-size:100px;
	font-weight:800;
	text-shadow:0 0 5px #3b2d5e;
	text-align:center;
}

.main_grid{
	display:grid;
	width:100%;
	height:746px;
	grid-template-columns:33% 33% 1% 33%;
	grid-template-rows:32% 2% 32% 2% 32%;
	grid-template-areas:
	"a a b c"
	"d e f c"
	"g g h c"
	"g g i j"
	"g g k l";
}

.main_grid>div{
	position:relative;
	perspective:1000px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.a{
	grid-area:a;
}

.b{
	grid-area:b;
}

.c{
	grid-area:c;
}


.g{
	grid-area:g;
}

/*-------------------animated block vertical-----------------*/

.block_vert:hover{
	cursor:pointer;
	transition:0.5s;
}

.block_vert{
	transform-style:preserve-3d;
	transform-origin:center center;
	position:relative;
	width:100%;
	height:100%;
	transition:0.5s;
}

.block_vert>div{
	width:100%;
	height:100%;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	transform-origin:center center;
	border-radius: 25px;
	box-shadow: 0 0 5px 1px grey;
}

.block1_vert{
	background:radial-gradient(at top right, #0588ff, #8be5f7);
	display:flex;
	flex-flow:column nowrap;
	juustify-content:center;
	align-items:center;
}

.geolocation_img{
	height:80%;
}

.open_img{
	width:90%;
}

.block1_vert>div{
	max-height:20%;
}

.block2_vert{
	transform: translateZ(-1px) rotateY(180deg);
	background:radial-gradient(at top right, #0588ff, #8be5f7);
	overflow:hidden;
}
/*-------------------------------------------*/




/*-------------------animated block horizontal-----------------*/
.a:hover .block_hor{
	cursor:pointer;
	transition:0.5s;
}

.l:hover .block_hor{
	cursor:pointer;
	transition:0.5s;
}

.block_hor{
	transform-style:preserve-3d;
	transform-origin:center center;
	position:relative;
	width:100%;
	height:100%;
	transition:0.5s;
	will-change: transform;
}

.block_hor>div{
	width:100%;
	height:100%;
	color:white;
	display:flex;
	align-items:center;
	position:absolute;
	transform-origin:center center;
	border-radius: 25px;
	box-shadow: 0 0 5px 1px grey;
}

.block1_hor{
	background:radial-gradient(at top right, #0588ff, #8be5f7);
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;

}

.block2_hor{
	transform: translateZ(-1px) rotateY(180deg) rotateZ(180deg);
	background:radial-gradient(at top right, #0588ff, #8be5f7);
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-evenly;
	align-items:center;
	font-size:14px;
	padding:5px;
}

.about_img{
	width:30%;
}

.contacts_img{
	width:30%;
}

/*-------------------------------------------*/

.block1_vert, .block1_hor{
	font-size:42px;
	text-align:center;
	text-shadow:0 0 7px #f996ca,
		    0 0 10px #f996ca,
		    0 0 21px #f996ca,
		    0 0 42px #c496ca,
		    0 0 82px #c496ca,
		    0 0 92px #c496ca,
		    0 0 102px #c496ca,
		    0 0 151px #c496ca;
}

.block2_vert>ul>li{
	font-size:26px;
}

.a>.block_hor>.block2_hor>p{
	font-size:2.2vmin;
}

.a>.block_hor>.block2_hor>p>span{
	animation:flicker 4s ease-in-out infinite;
}

.d{
	grid-area:d;
}
.e{
	grid-area:e;
}
.f{
	grid-area:f;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	perspective:100px;
	transform-style:preserve-3d;
	transform-origin:center center;
}

.h{
	grid-area:h;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
}
.i{
	grid-area:i;
}
.j{
	grid-area:j;
}
.k{
	grid-area:k;
}

.l{
	grid-area:l;
}

.a_contacts{
	font-size:20px;
	margin:0 0 0 10px;
}

.phone_us{
	display:flex;
	align-items:center;
	transition:0.5s;
}

.phone_us:hover{
	transform:scale(120%);
	transition:0.5s;
	cursor:pointer;
}

.phone_us:before{
	content:"";
	display:block;
	width:50px;
	height:50px;
	border:1ps solid black;
	background:url(../img/green_phone.png);
	background-size:contain;
	
}

.vk{
	display:flex;
	align-items:center;
	transition:0.5s;
}

.vk:hover{
	transform:scale(120%);
	transition:0.5s;
	cursor:pointer;
}

.vk:before{
	content:"";
	display:block;
	width:50px;
	height:50px;
	border:1ps solid black;
	background:url(../img/vk.png);
	background-size:contain;	
}

/*------------------------------основной экран для смартфонов-----------------*/

.smart_body{
	margin:0;
}

.smart_body>div>img{
	width:33%;
}

#geo{
	overflow:hidden;
}

.phone_us_smart{
	display:flex;
	align-items:center;
	transition:0.5s;
	margin:20px auto;
}

.phone_us_smart:before{
	content:"";
	display:block;
	width:30px;
	height:30px;
	background:url(../img/green_phone.png);
	background-size:contain;
	filter:saturate(200%);
}

.phone_us_smart:hover:before{
	transform:rotateY(360deg);
	transition:0.5s;
	cursor:pointer;
}

.phone_us_smart:hover{
	text-shadow:0 0 7px #7cacfc,
		   0 0 2px #c496ca,
		   0 0 4px #c496ca,
		  0 0 8px #c496ca,
		  0 0 16px #c496ca;
	transition:0.5s;
	cursor:pointer;
}

.vk_smart{
	display:flex;
	align-items:center;
	transition:0.5s;
	margin:20px auto;
}

.vk_smart:before{
	content:"";
	display:block;
	width:30px;
	height:30px;
	background:url(../img/vk.png);
	background-size:contain;
	filter:saturate(500%);
}

.vk_smart:hover:before{
	transform:rotateY(360deg);
	transition:0.5s;
	cursor:pointer;
}

.vk_smart:hover{
	text-shadow:0 0 7px #7cacfc,
		   0 0 2px #c496ca,
		   0 0 4px #c496ca,
		  0 0 8px #c496ca,
		  0 0 16px #c496ca;
	transition:0.5s;
	cursor:pointer;
}


/*---адаптив медиазапросы---*/

@media (max-width:640px){
	.main_menu{
		display:flex; //появляется меню в столбик для смартфонов
	}
	.main_menu_table{
		display:none; //исчезает меню для больших экранов
	}
	.main_grid{
		display:none; //исчезает боди для больших экранов
	}
	.container{
		margin:45px auto 0;
	}
	.smart_body{
		display:flex; //появляется боди для смартфонов
	}
}
/*---------------------------------------------------------*/