.equipment{
	padding:50px 50px 150px;
	width:100%;
	min-height:1060px;
	position:relative;
}

.equipment-flex{
	margin:300px 0 0 0;
	width:100%;
	height:auto;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
	gap:200px;
}

.equipment-flex-container{
	width:auto;
	height:auto;
	background:#fff;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	gap:50px;
	position:relative;
	padding:10px;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	scale:0;
	opacity:0;
}

.equipment-flex-container-odd{
	flex-direction:row-reverse;
}

.equipment-flex-container-imageContainer{
	width:500px;
	height:1px;
	position:relative;
}

.equipment-flex-container-image{
	width:500px;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	rotate:-5deg;
	translate:-50% -50%;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}


.equipment-flex-container-image-odd{
	rotate:5deg;
}

.equipment-flex-container-info{
	width:500px;
	height:100%;
}

.equipment-flex-container-info-title{
	color:#000;
	font-size:2rem;
	font-weight:500;
	text-align:end;
}

.equipment-flex-container-info-title-odd{
	text-align:start;
}

.equipment-flex-container-info-text{
	margin:10px 0 0 0;
	padding:10px;
	width:auto;
	height:auto;
	background:var(--mainBackground);
	box-shadow: inset 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
	font-size:1rem;
	line-height:170%;
	text-align:justify;
}

@media(max-width:1100px){
	.equipment-flex{
		margin:150px 0 0 0;
	}
	.equipment-flex-container{
		flex-flow:column nowrap;
		width:520px;
	}
	.equipment-flex-container-imageContainer{
		height:300px;
		flex:0 0 auto;
		
	}
	.equipment-flex-container-image{
		width:100%;
		position:relative;
		top:0;
		left:0;
		translate:0% 0%;
		
	}
}

@media(max-width:630px){
	.equipment{
		padding:50px 10px;
	}
	.equipment-flex-container{
		width:100%;
		gap:20px;
	}
	.equipment-flex-container-imageContainer{
		width:100%;
		height:auto;
		aspect-ratio:3/2;
	}
	.equipment-flex-container-info{
		width:100%;
		height:auto;
	}
	.equipment-flex-container-info-title{
		font-size:6vw;
	}
	.equipment-flex-container-info-text{
		font-size:3.3vw;
	}
}