@keyframes buttonAnimation{
	0%{left:-50%;}
	10%{left:150%;}
	100%{left:150%;}
}

.contacts{
	padding:50px 50px 100px;
	width:100%;
	height:auto;
	position:relative;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:flex-start;
}

.contacts-container{
	margin:100px 0;
	width:100%;
	height:auto;
	display:flex;
	flex-flow:column wrap;
	justify-content:space-around;
	align-items:center;
	gap:50px;
}

.contacts-container-tel{
	display:flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	align-items:center;
	gap: 10px;
}

.contacts-container-button{
	width:auto;
	height:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:10px;
	border:2px solid #fff;
	border-radius:3px;
	background:transparent;
	font-weight:600;
	position:relative;
	overflow:hidden;
	color:var(--mainFontColor);
}

.contacts-container-button:before{
	content:'';
	position:absolute;
	top:0px;
	left:-50%;
	width:50%;
	height:100%;
	background:linear-gradient(90deg, transparent, #fff, transparent);
	transform:skew(-20deg);
	animation:buttonAnimation 4s ease-in-out infinite;
}

.contacts-container-button:hover{
	background:var(--mainFontColor);
	color:var(--mainBackground);
	transition:0.3s ease-in-out;
	cursor:pointer;
}

.contacts-container-map{
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:stretch;
	align-content:flex-start;
	gap:50px;
}

.map{
	width:min(500px, 100%);
	height:300px;
	box-shadow: 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
}

.contacts-container-map-textBlock{
	width:fit-content;
	height:auto;
	background:#fff;
	padding:10px;
	box-shadow: 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
}

.contacts-container-map-textBlock-title{
	color:#000;
	font-size:2rem;
	font-weight:500;
}

.contacts-container-map-textBlock-text{
	margin:10px 0 0 0;
	padding:10px 10px 10px 30px;
	width:auto;
	height:auto;
	background:var(--mainBackground);
	box-shadow: inset 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
}

.contacts-container-map-openingHours{
	width:fit-content;
	height:auto;
	background:#fff;
	padding:10px;
	box-shadow: 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
}

.contacts-container-map-openingHours-title{
	color:#000;
	font-size:2rem;
	font-weight:500;
}

.contacts-container-map-openingHours-ul{
	width:100%;
	height:auto;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:flex-start;
	gap:10px;
	margin:10px 0 0 0;
	padding:10px 10px 10px 30px;
	background:var(--mainBackground);
	box-shadow: inset 3px -3px 10px 3px rgba(0, 0, 0, 0.3);
}

.contacts-container-map-openingHours-ul-li{
	position:relative;
	padding:0 0 0 20px;
	
}

.contacts-container-map-openingHours-ul-li:before{
	display:block;
	content:'';
	height:10px;
	aspect-ratio:1/1;
	background:linear-gradient(45deg, transparent 30%, var(--mainFontColor) 100%);
	position:absolute;
	top:50%;
	left:0;
	rotate:45deg;
	translate:0% -50%;
}

@media(max-width:600px){
	.contacts{
		padding:50px 10px 0px;
	}
	.contacts-container-tel{
		justify-content:center;
	}
}