@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rampart+One&family=Seymour+One&display=swap');

@font-face {
    font-family: 'SpaceAge';
    src: url('../fonts/spaceagecyrillicregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
